#Beri {
    display: block;
    margin: auto;
    width: 40%;
}

p {
    font-size: large;
}

#items {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
}

.item {
    width: 50%;
}
