
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-zebatki:before { content: '\e802'; } /* '' */
.icon-art:before { content: '\e803'; } /* '' */
.icon-terminal:before { content: '\e804'; } /* '' */
.icon-cricket:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */